.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.container input[aria-invalid="true"] {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.8rem;
}
